@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color */
  --background-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --theme-color: #FFB400;
  --anti-theme-color: #553BF3;
  --text-color: #000;
  --anti-text-color:#fff;
  --accent-link-color: #006876;
  --warning-color: #FE5F52;



  --java-color: #ffedd9;
  --java-sub-color: #eaa047;
  --bigdata-color: #7ea5f8;
  --bigdata-sub-color: #553bf3;
  --pm-color: #fffce3;
  --pm-sub-color: #ffc600;

  /* 폰트 및 형식*/
  --nav-name-font-size: 1.5rem;
  --normal-font-size: .938rem;

  @media screen and (min-width: 1024px) {
      --nav-name-font-size: 1rem;
      --normal-font-size: 1rem;
  };

  /* 헤더 높이 */
  --header-height: 100px;

  /* 헤더의 z-index */
  --z-fixed: 100;

  /*푸터 높이*/
  --footer-height: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color: #fff;
    --anti-text-color: #000;
  }
}

body {
  color: var(--text-color);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*,
::before,
::after {
  box-sizing: border-box;
}

main {
  margin-top: calc(var(--header-height));
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.bd-grid {
  max-width: 1920px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
