.swiper {
    --swiper-theme-color:#fff;

    & img {
        width: 100%;
        
    }
    text-align: center;

    .bannerScreen {
        width: 100vw;
        height: 40rem;
    }
}

.swiper-horizontal {
    margin: 50px;
}

.swiper-slide {
    background-position: center;
    height: 50px;
}